#SearchForElements{

}
#DisplayElements{

}
#CalculationPanel{

}
.elementFound{
	border: 1px solid black;
}
.elementSelected{

}
.elementSelected p{
	margin-bottom: 0;
	text-align: center;
}
.p-m{
	display: block;
	margin:auto;
	padding:0;
	width: 50%;
}