#SearchForElements{

}
#DisplayElements{

}
#CalculationPanel{
  display:inline-flex;
}
.elementFound{
	border: 1px solid black;
	text-align: center;
}
.elementSelected{
  padding: 0 5px 0 5px;
}
.elementSelected p{
	margin-bottom: 0;
	text-align: center;
}
.parenth {
  display:inline-flex;
}
.p-m{
	display: block;
	margin:auto;
	padding:0;
	width: 20px;
}

.activeElement{
  color: red;
}
.inactiveElement{
  color: black;
}