body img {
  position: absolute;
  top: 125px;
  left: 180px;
  opacity: 0.1;
  width: 70%; }

body #nprogress .spinner {
  top: 50% !important;
  right: 50% !important; }
  body #nprogress .spinner .spinner-icon {
    width: 40px !important;
    height: 40px !important;
    border-top-color: #0a72f4;
    border-right-color: yellow;
    border-bottom-color: red;
    border-left-color: #0af4be;
    animation-duration: 500ms;
    border-width: 4px; }

body #app #topApp #headRow #headingDiv h1 {
  text-align: center; }

body #app #topApp #headRow #loginHeader #emailFormGroup {
  margin-top: 10px; }

body #app #topApp #headRow #loginHeader #passwordFormGroup #passwordTextInputDiv #passwordInput {
  margin-top: 5px; }

body #app #topApp #headRow #userAccountButtons {
  margin-top: 10px; }
  body #app #topApp #headRow #userAccountButtons #userAccountButtonsDiv #logOutButton {
    margin-left: 5px; }
  body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalHeader h3 {
    text-align: center; }
  body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineName #accountFormGroupName {
    display: flex;
    margin-left: 35px; }
    body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineName #accountFormGroupName p {
      margin-left: 5px; }
  body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineEmail #accountFormGroupEmail {
    display: flex;
    margin-left: 35px; }
    body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineEmail #accountFormGroupEmail p {
      margin-left: 5px; }
  body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineNewName #accountFormGroupNewName #accountFormNewNameInput {
    margin-left: 5px; }
  body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineNewEmail #accountFormGroupNewEmail {
    margin-top: 10px; }
    body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineNewEmail #accountFormGroupNewEmail #accountFormNewEmailInput {
      margin-left: 5px; }
  body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalBody #accountModalRow #accountModalForm #accountFormInlineNewEmail #accountFormUpdateButton {
    margin-left: 5px;
    margin-top: 10px; }
  body #app #topApp #headRow #userAccountButtons #accountModal #accountModalDialog #accountModalContent #accountModalFooter p {
    text-align: center; }

body #app #topApp #bodyRow {
  margin-top: 20px; }
  body #app #topApp #bodyRow #leftBody {
    background-color: rgba(29, 26, 26, 0.56);
    width: 60%;
    margin-left: 30px; }
    body #app #topApp #bodyRow #leftBody #massPanel #massPanelMolecularWeight h3 {
      color: white;
      margin-top: 15px;
      text-align: right;
      margin-right: 5px; }
    body #app #topApp #bodyRow #leftBody #massPanel #massPanelButtonsDiv {
      margin-top: 12px;
      margin-right: 15px; }
      body #app #topApp #bodyRow #leftBody #massPanel #massPanelButtonsDiv #massPanelClearButton {
        margin-left: 15px; }
    body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalHeader h3 {
      text-align: center; }
    body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineFormula .form-group #formulaToSave {
      display: flex; }
      body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineFormula .form-group #formulaToSave #formulaToSaveLabelDiv {
        width: 65px; }
        body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineFormula .form-group #formulaToSave #formulaToSaveLabelDiv p {
          text-align: right;
          font-weight: bold;
          margin-right: 5px; }
      body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineFormula .form-group #formulaToSave p {
        margin-right: 2px; }
    body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineWeight .form-group #weightToSave {
      display: flex; }
      body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineWeight .form-group #weightToSave #weightToSaveLabelDiv {
        width: 65px; }
        body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineWeight .form-group #weightToSave #weightToSaveLabelDiv p {
          text-align: right;
          font-weight: bold;
          margin-right: 5px; }
    body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineCompoundName #formGroupCompoundName {
      display: flex; }
      body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineCompoundName #formGroupCompoundName div {
        width: 65px; }
        body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineCompoundName #formGroupCompoundName div p {
          text-align: right;
          font-weight: bold;
          margin-right: 5px;
          margin-top: 5px; }
      body #app #topApp #bodyRow #leftBody #massPanel #saveCompoundModal #saveCompoundModalDialog #saveCompoundModalContent #saveCompoundModalBody .row .col-sm-offset-2 #formInlineCompoundName #formGroupCompoundName #compoundNameInput {
        width: 210px;
        margin-right: 10px; }
    body #app #topApp #bodyRow #leftBody #calculationPanel {
      display: inline-flex; }
      body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements {
        margin-left: 15px;
        margin-bottom: 5px; }
        body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement {
          margin-right: 5px;
          margin-left: 5px;
          margin-bottom: 10px;
          float: left;
          width: 55px; }
          body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elemNoParen .elemNoParenButton {
            display: block;
            border: none;
            background: none;
            margin-right: 9px;
            margin-left: 9px;
            padding: 0; }
            body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elemNoParen .elemNoParenButton p {
              font-size: 36px;
              margin-bottom: 0; }
              body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elemNoParen .elemNoParenButton p.activeElement {
                color: red; }
              body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elemNoParen .elemNoParenButton p.inactiveElement {
                color: black; }
          body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .leftParen {
            display: inline-block;
            position: relative;
            bottom: 15px; }
            body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .leftParen p {
              margin: 0;
              font-size: 60px; }
          body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elemInParen {
            display: inline-block; }
          body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .rightParenDiv {
            display: inline-block;
            position: relative;
            bottom: 15px; }
            body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .rightParenDiv .rightParen {
              display: inline-block; }
              body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .rightParenDiv .rightParen p {
                margin: 0;
                font-size: 60px; }
            body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .rightParenDiv .rightParenPM {
              display: inline-block;
              position: relative;
              top: 30px; }
              body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .rightParenDiv .rightParenPM .pp-m {
                display: block;
                margin: auto;
                padding: 0;
                width: 15px;
                height: 20px; }
                body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .rightParenDiv .rightParenPM .pp-m p {
                  margin-bottom: 0;
                  text-align: center; }
              body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .rightParenDiv .rightParenPM .parenMultiplier p {
                margin: 0;
                text-align: center; }
          body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elementSelected {
            padding: 0 5px 0 5px; }
            body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elementSelected .p-m {
              display: block;
              margin: auto;
              padding: 0;
              width: 20px; }
              body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elementSelected .p-m p {
                margin-bottom: 0;
                text-align: center; }
            body #app #topApp #bodyRow #leftBody #calculationPanel #calculationPanelElements .calculatableElement .elementSelected .elemInParenAcronym p {
              font-size: 25px;
              margin-bottom: 0; }
  body #app #topApp #bodyRow #rightBody {
    float: right; }
    body #app #topApp #bodyRow #rightBody #elementsPanelRow {
      margin-top: 5px;
      height: 418px; }
      body #app #topApp #bodyRow #rightBody #elementsPanelRow .elementFoundButton {
        border: 1px solid black;
        padding: 0;
        background-color: #e0d4da;
        padding-left: 15px;
        padding-right: 15px; }
        body #app #topApp #bodyRow #rightBody #elementsPanelRow .elementFoundButton:hover {
          background-color: #d27aa6; }
        body #app #topApp #bodyRow #rightBody #elementsPanelRow .elementFoundButton .elementFoundAtomicP {
          margin: 0;
          text-align: left; }
        body #app #topApp #bodyRow #rightBody #elementsPanelRow .elementFoundButton h2 {
          margin: 0;
          text-align: center; }
        body #app #topApp #bodyRow #rightBody #elementsPanelRow .elementFoundButton .elementFoundNameP {
          margin: 0;
          text-align: center; }
        body #app #topApp #bodyRow #rightBody #elementsPanelRow .elementFoundButton .elementFoundMassP {
          text-align: center; }

/*# sourceMappingURL=allstyles.css.map*/