#nprogress {

  .spinner {
    top: 50% !important;
    right: 50% !important;

    .spinner-icon {
      width: 40px !important;
      height: 40px !important;
      border-top-color: #0a72f4;
      border-right-color: yellow;
      border-bottom-color: red;
      border-left-color: #0af4be;
      animation-duration: 500ms;
      border-width: 4px;
    }

  }
}

#app {

  #topApp {

    #headRow {

      #headingDiv {

        h1 {

        }
      }

      #loginHeader {

        #emailFormGroup {

          #emailTextInputDiv {

            #emailInput {

            }
          }

          #emailButtonInputDiv {
            #loginButton {

            }
          }
        }

        #passwordFormGroup {

          #passwordTextInputDiv {

            #passwordInput {

            }
          }

          #passwordButtonInputDiv {

            #registerButton {

            }
          }
        }
      }

      #userAccountButtons {

        #userAccountButtonsDiv {

          #myAccountButton {

          }

          #logOutButton {

          }
        }

        #accountModal {

          #accountModalDialog {

            #accountModalContent {
              
              #accountModalHeader {

                #accountModalCloseButton {

                }
              }

              #accountModalBody {

                #accountModalRow {

                  #accountModalForm {

                    #accountFormInlineName {

                      #accountFormGroupName {
                        display: 'flex';
                        margin-left: 35px;

                        label {

                        }

                        p {
                          margin-left: 10px;
                        }
                      }
                    }

                    #accountFormInlineEmail {

                      #accountFormGroupEmail {
                        display: 'flex';
                        margin-left: 35px;

                        label {

                        }

                        p {
                          margin-left: 10px;
                        }

                      }
                    }

                    #accountFormInlineNewName {

                      #accountFormGroupNewName {

                        #accountFormNewNameInput {

                        }
                      }
                    }

                    #accountFormInlineNewEmail {

                      #accountFormGroupNewEmail {
                        label {

                        }

                        #accountFormNewEmailInput {

                        }

                      }

                      #accountFormUpdateButton {

                      }
                    }

                  }
                }
              }

              #accountModalFooter {
                p {
                  text-align: center;
                }

                #resetPasswordButton {

                }
              }   
            }
          }
        }
      }

    }

    #bodyRow {

      #leftBody {

        #massPanel {

          p {

          }
        }

        #calculationPanel {
          display: inline-flex;

          .calculatableElement {

            .elemNoParen {

              .elemNoParenButton {
                display: block;
                border: none;
                background: none;

                p {
                  font-size: 25px;
                  margin-bottom: 0;

                  sub {

                  }

                  &.activeElement {
                    color: red;
                  }

                  &.inactiveElement {
                    color: black;
                  }

                }
              }
            }

            .leftParen {
              display: inline-block;
              position: relative;
              bottom: 15px;

              p {
                margin: 0;
                font-size: 60px;
              }
            }

            .elemInParen {
              display: inline-block;
            }

            .rightParenDiv {
              display: inline-block;
              position: relative;
              bottom: 15px;

              .rightParen {
                display: inline-block;

                p {
                  margin: 0;
                  font-size: 60px;
                }
              }

              .rightParenPM {
                display: inline-block;
                position: relative;
                top: 30px;

                .pp-m {
                  display: block;
                  margin: auto;
                  padding: 0;
                  width: 15px;
                  height: 20px;

                  p {
                    margin-bottom: 0;
                    text-align: center;
                  }
                }

                .parenMultiplier {

                  p {
                    margin: 0;
                    text-align: center;
                  }
                }
              }
            }

            .elementSelected {
              padding: 0 5px 0 5px;

              .p-m {
                display: block;
                margin: auto;
                padding: 0;
                width: 20px;

                p {
                  margin-bottom: 0;
                  text-align: center;
                }
              }

              .elemInParenAcronym {

                p {
                  font-size: 25px;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      #rightBody {

        #searchElementsRow {

          #searchElementsForm {

            #searchElementsInput {

            }
          }
        }

        #elementsPanelRow {
          //border-top: 1px solid black;
          border-left: 1px solid black;
          margin-top: 4px;

          .elementFoundButton {
            border: 1px solid black;
            border-left: none;
            //border-top: none;
            text-align: center;
            padding: 0;
            margin-bottom: 1px;

            p {

            }
          }
        }
      }
    }
  }
}